<h1>Listing Workorders</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Po</th>
      <th>Estimate</th>
      <th>Line item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Previous action</th>
      <th>Next action due</th>
      <th>Schedule</th>
      <th>Invoice</th>
      <th>Invoice total</th>
      <th>Notes</th>
      <th>Franchises</th>
      <th>Locations</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @workorders.each do |workorder| %>
      <tr>
        <td><%= workorder.number %></td>
        <td><%= workorder.po %></td>
        <td><%= workorder.estimate_id %></td>
        <td><%= workorder.line_item %></td>
        <td><%= workorder.quantity %></td>
        <td><%= workorder.price %></td>
        <td><%= workorder.previous_action %></td>
        <td><%= workorder.next_action_due %></td>
        <td><%= workorder.schedule %></td>
        <td><%= workorder.invoice %></td>
        <td><%= workorder.invoice_total %></td>
        <td><%= workorder.notes %></td>
        <td><%= workorder.franchise %></td>
        <td><%= workorder.location %></td>
        <td><%= link_to 'Show', client_location_franchise_workorder_path(@client, @location, @franchise, @workorder) %></td>
        <td><%= link_to 'Edit', edit_client_location_franchise_workorder_path(@client, @location, @franchise, workorder) %></td>
        <td><%= link_to 'Destroy', [@client, @location, @franchise, @workorder], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Workorder', new_client_workorders_path(@client) %>
