<h1>Listing Franchises</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @franchises.each do |franchise| %>
      <tr>
        <td><%= franchise.number %></td>
        <td><%= franchise.name %></td>
        <td><%= franchise.phone %></td>
        <td><%= franchise.email %></td>
        <td><%= franchise.location_id %></td>
        <td><%= link_to 'Show', client_location_franchise_path(@client, @location, franchise) %></td>
        <td><%= link_to 'Edit', edit_client_location_franchise_path(@client, @location, franchise) %></td>
        <td><%= link_to 'Destroy', [@client, @location, franchise], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Franchise', new_client_location_franchise_path(@client, @location) %>
