<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @franchise.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @franchise.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @franchise.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @franchise.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @franchise.location_id %>
</p>

<%= link_to 'Edit', edit_client_location_franchise_path(@client, @location, @franchise) %> |
<%= link_to 'Back', client_location_franchises_path(@client, @location) %>
<%= link_to 'Add Workorder', new_client_location_franchise_workorder_path(@client,@location, @franchise) %>


<h1>Listing workorders</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Po</th>
      <th>Estimate</th>
      <th>Line item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Previous action</th>
      <th>Next action due</th>
      <th>Schedule</th>
      <th>Invoice</th>
      <th>Invoice total</th>
      <th>Notes</th>
      <th>Franchises</th>
      <th>Locations</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @franchise.workorders.each do |workorder| %>
      <tr>
        <td><%= workorder.number %></td>
        <td><%= workorder.po %></td>
        <td><%= workorder.estimate_id %></td>
        <td><%= workorder.line_item %></td>
        <td><%= workorder.quantity %></td>
        <td><%= workorder.price %></td>
        <td><%= workorder.previous_action %></td>
        <td><%= workorder.next_action_due %></td>
        <td><%= workorder.schedule %></td>
        <td><%= workorder.invoice %></td>
        <td><%= workorder.invoice_total %></td>
        <td><%= workorder.notes %></td>
        <td><%= workorder.franchise.id %></td>
        <td><%= workorder.location.id %></td>
        <td><%= link_to 'Show', [@client,@location, @franchise,workorder] %></td>
        <td><%= link_to 'Edit', edit_client_location_franchise_workorder_path(@client,@location, @franchise,workorder) %></td>
        <td><%= link_to 'Destroy', [@client,@location, @franchise,workorder], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Workorder', new_client_workorders_path(@client) %>
